/* ----------------------------------------------------------------- BASICS */
body            
{ 
    margin: 0px;
    padding: 0px;
    color: white;
    font-weight: normal;
    font-size: 10pt;
    font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    background-color: #f93;
    width: 810px;
    height: 635px;
}
html>body h1 
{
    border-color: #f93;  /* Farbangleichung an den Internet Explorer  */
}
td
{
    vertical-align: middle;
    padding: 0px;
    margin: 0px;
}
td img
{
    vertical-align: middle;
    padding: 0px;
    margin: 0px;
}



/* ------------------------------------------------------------------ CELLS */
td#descriptionCell
{
    padding: 5px;
    width: 655px;
    height: 20px;
}
td#descriptionCell h2
{
    font-size: 15px;
    padding: 0px;
    margin: 0px;
    height: 100%;
    vertical-align: middle;
}
td#previousCell
{
    padding-right: 5px;
    width: 16px;
}
td#statusCell
{
    padding-right: 5px;
    text-align: center;
    width: 98px;
}
td#statusCell p
{
    font-size: 15px;
    padding: 0px;
    margin: 0px;
    height: 100%;
    vertical-align: middle;
}
td#nextCell
{
    padding-right: 5px;
    width: 16px;
}
td#bigImageCell 
{
    padding: 0px 5px 5px 5px;
    width: 800px;
    height: 600px;
}
